{% extends 'crm/consult/../logined_index.html' %}
{% block active_customer %}
    {% if customers_msg == 1 %}
        active
    {% endif %}
{% endblock %}
{% block active_my_customer %}
    {% if customers_msg == 0 %}
        active
    {% endif %}
{% endblock %}
{% block search %}
    <form action="">
        <div class="col-lg-3 pull-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." name="query">
                <span class="input-group-btn">
        <button class="btn btn-success" type="submit">搜索</button>
      </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </form>
{% endblock %}

{% block contener %}
    <div class="panel panel-default center-block" style="text-align: center">
        <!-- Default panel contents -->
        <div class="panel-heading">客户信息</div>
        <div class="col-lg-1 pull-right">
            {{ add_btn|safe }}
        </div>
        <div class="press_box" style="text-align:center">
            <form action="" method="post" class="form-inline">
                {% csrf_token %}
                <label for="action"></label>
                <select name="action" id="action" class="pull-left form-control" style="margin: 11px 0">
                    <option value="">请选择</option>
                    {% if request.path_info  == '/crm/my_customer/' %}
                        <option value="multi_public">放入公户</option>
                    {% else %}
                        <option value="multi_apply">放入私户</option>
                    {% endif %}
                    <option value="delete">删除</option>
                </select>
                <input type="submit" class="pull-left btn btn-success form-control" style="margin: 11px 0">
                <table class="table table-condensed table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>选择</th>
                        <th>序号</th>
                        <th>QQ</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>手机号</th>
                        <th>咨询课程</th>
                        <th>状态</th>
                        <th>咨询日期</th>
                        <th>销售</th>
                        <th>已报班级</th>
                        {% if request.path_info  == '/crm/my_customer/' %}
                            <td>跟进记录</td>
                            <td>报名记录</td>
                        {% endif %}
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>

                    {% for customer in all_customer %}
                        <tr>
                            <td>
                                <label for="choice"></label>
                                <input type="checkbox" name="choice_id" value="{{ customer.id }}" id="choice">
                            </td>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ customer.qq }}</td>
                            <td>{{ customer.name|default:'暂无' }}</td>
                            <td>{{ customer.get_sex_display }}</td>
                            <td>{{ customer.phone|default:'暂无' }}</td>
                            <td>{{ customer.course }}</td>
                            <td>{{ customer.show_status }}</td>
                            <td>{{ customer.date }}</td>
                            <td>{{ customer.consultant }}</td>
                            <td>{{ customer.show_classes }}</td>
                            {% if request.path_info  == '/crm/my_customer/' %}
                                <td><a href="{% url 'crm:consult_record' customer.id %}">查看跟进</a></td>
                                <td>{{ customer.enroll_link }}</td>
                            {% endif %}
                            <td>
                                <a href="{% url 'crm:edit_customer' customer.id %}?{{ query_params }}">
                                <i class="fa fa-edit fa-fw"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="pull-right" style="text-align: center">
        <nav aria-label="Page navigation">
            <ul class="pagination">

                {{ pagination }}
            </ul>
        </nav>
    </div>
{% endblock %}